<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css" charset="utf-8">
    <link rel="stylesheet" href="css/smart.css" type="text/css" charset="utf-8">
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <title>Boostrap Demo</title>
    <script type="text/javascript" src='js/jquery.min.js'></script>
    <script type="text/javascript" src='js/underscore.min.js'></script>
    <script type="text/javascript" src='js/bootstrap.min.js'></script>
    <script type="text/javascript" src='js/jquery.tmpl.min.js'></script>
    <!-- IE specific quirks =( -->
    <!--[if lt IE 9]>
      <script type="text/javascript" src='js/ie-quirks.js'></script>
    <![endif]-->
    <script type="text/javascript" charset="utf-8">
      $(document).ready(function() {
          $('.prod-group').popover();
          $('.category-count').tooltip();
          $(document).ready(function() {
            // hover show/hide actions behavior
            $('.tree .folder, .tree .item').live('hover',
              function(evt) {
                if(evt.type == 'mouseenter') {
                  $(this).children('span.actions').show();
                }
                if(evt.type == 'mouseleave') {
                  $(this).children('span.actions').hide();
                }
              }
            );

            // expand and collapse folders
            $('.tree .folder').live('click', function() {
              // Remove the selected class from all elements
              $('.tree .folder').removeClass('selected');

              $(this).siblings('.items').toggle();
              $(this).addClass('selected');

              // Enabled the 'New Category' button.
              $('#new-category-btn').removeClass('disabled').removeAttr('disabled');
            });

            collapseAll();
          });
      });

      function showCreateCategoryForm() {
        $('#category-form').get(0).reset();
        $("#category-modal").modal();
        $("#category-modal #category-name").focus();
      }

      function deleteElem(elem) {
        var delElem = $(elem).parent().parent('div');
        if( delElem.hasClass('item') ) {
          delElem.remove();
        } else if( delElem.hasClass('folder') ) {
          if( delElem.siblings('.items').children().length > 0 ) {
            if( confirm("The category is not empty! \n\nAre you sure you want to delete the category and all of its subelements?") ) {
              delElem.parent('.tree-elem').remove();
            }
          } else {
            delElem.parent('.tree-elem').remove();
          }
        }
      }

      function expandAll() {
        $('.tree #root-category-items .tree-elem .items').show();
      }
      function collapseAll() {
        $('.tree #root-category-items .tree-elem .items').hide();
      }
    </script>
  </head>
  <body>

    <div class='container'>
      <div class="navbar">
        <div class="navbar-inner">
          <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </a>
            <a class="brand" href="#">SMART</a>
            <div class="nav-collapse">
              <ul class="nav">
                <li><a href="index.html">Home</a></li>
                <li><a href="catalog.html">Catalog</a></li>
                <li class='active'><a href="planogram.html">Planogram</a></li>
                <li><a href="#">Analysis</a></li>
              </ul>
              <ul class="nav pull-right usr-logout">
                <li><a>francisco.carriedo</a></li>
                <li class="divider-vertical"></li>
                <li><a href="#">logout</a></li>
              </ul>
            </div><!-- /.nav-collapse -->
          </div>
        </div><!-- /navbar-inner -->
      </div>
      <div class="subnav subnav-fixed">
        <ul class="nav nav-pills">
          <li><a href="planogram.html">main</a></li>
          <li><a href="#assortment">Assortment</a></li>
          <li><a href="#products">Products</a></li>
          <li><a href="#layout">Layout</a></li>
          <li class='active'><a href="#taxonomy">Taxonomy</a></li>
          <li><a href="#navigation">Navigation</a></li>
        </ul>
      </div>
      <br/>
      <div class='row'>
        <div class='span5'><h3>BBY Spring 2012 v2 <small>planogram</small></h3></div>
      </div>
      <div class='row'>
        <div class='span2'>Hardware: <strong>RRS</strong></div>
        <div class='span3'>Channel: <strong>Airport</strong></div>
        <div class='span2 offset2'><h4>Category Tree</h4></div>
        <div class='span3'>
          <div class='pull-right'>
            <a href='javascript:void(0)' onClick='expandAll()'>expand all</a> |
            <a href='javascript:void(0)' onClick='collapseAll()'>collapse all</a>
          </div>
        </div>
      </div>
      <br/>
      <div class='row'>
        <div class='span5'>
          <div class='tax-container'>
            <table class='table table-striped'>
              <thead>
                <tr>
                  <th>Products</th>
                  <th># of Categories</th>
                </tr>
              </thead>
              <tbody id='prods-data'>
              </tbody>
            </table>
          </div>
        </div>
        <div class='span2' style='text-align: center;'>Drag product to categories in order to asign.</div>
        <div class='span5'>
          <div class='tax-container'>
            <div class='tree'>
              <div class='tree-elem'>
                <div id='root-category-node' class='folder'><i class='icon-folder-open'></i> Home</div>
                <div id='root-category-items' class='items'></div>
              </div>
            </div>
          </div>
          <div class='well'>
            <button id='new-category-btn' class='btn disabled' onClick='showCreateCategoryForm()' disabled='disabled'>New Category</button>
            <button id='group-by-btn' class='btn disabled'>Group by...</button>
            <div class='pull-right'>
              <button class='btn'>Cancel</button>
              <button class='btn btn-primary'>Save</button>
            </div>
          </div>
        </div>
      </div>

      <!-- footer -->
      <hr/>
      <div class='pull-right muted'>ZoomSystems v1.0</div>

    </div>

    <!-- 
    =======================
    Modals
    ======================= 
    -->

    <script>
      function createCategory() {
        var categoryName = $('#category-name').val();
        if(!categoryName) {
          alert('No category name!!');
        } else {
          var newCategory = {id: 234, name: categoryName};
          var newElemContainer = $('.tree .tree-elem .folder.selected').siblings('.items');
          newElemContainer.show();
          $('#category-tmpl').tmpl(newCategory).appendTo( newElemContainer );
          $('#category-modal').modal('hide');
        }
      }
    </script>

    <!-- New Category modal -->
    <div id='category-modal' class='modal hide fade'>
      <div class='modal-header'>
        <a class="close" data-dismiss="modal">&times;</a>
        <h3>New Category</h3>
      </div>
      <div class='modal-body'>

        <form id='category-form' class="form-horizontal">
          <fieldset>
            <div id='category-name-field' class="control-group">
              <label class="control-label" for="category-name">Name</label>
              <div class="controls">
                <input type="text" class="input-xlarge" id="category-name">
              </div>
            </div>
          </fieldset>
        </form>
      </div>
      <div class='modal-footer'>
        <a class='btn' data-dismiss='modal'>Cancel</a>
        <a class='btn btn-primary' onClick='createCategory()'>Create</a>
      </div>
    </div>


    <!-- GroupBy modal -->


    <!-- 
    =======================
    Templates
    ======================= 
    -->


    <!-- Product assortment template -->
    <script id='prods-tmpl' type='text/x-jquery-tmpl'>
      <tr class='draggable'>
        <td>${name}</td>
        <td><a href='javascript:void(0)' class='category-count' rel='tooltip' title='${categories.sort().join(", ")}'>${categories.length}</a></td>
      </tr>
    </script>


    <!-- Category tree template -->
    <script id='category-tmpl' type='text/x-jquery-tmpl'>
      <div class='tree-elem'>
        <div class='folder'>
          <i class='icon-folder-open'></i> ${name}
          <span class='actions hide'>
            <a href='#' class='close' title='delete' onClick='deleteElem(this)'><i class='icon-remove'></i></a>
            <a href='#' class='close' title='edit'><i class='icon-edit'></i></a>
          </span>
        </div>
        <div class='items'>
          {{if items}} {{tmpl(items) '#category-item-tmpl'}} {{/if}}
          {{if groups}} {{tmpl(groups) '#category-item-group-tmpl'}} {{/if}}
          {{if categories}} {{tmpl(categories) '#category-tmpl'}} {{/if}}
        </div>
      </div>
    </script>

    <!-- Category Item template -->
    <script id='category-item-tmpl' type='text/x-jquery-tmpl'>
      <div id='prod-${id}' class='item'>
        ${name} <span class='actions hide'><a href='#' class='close' title='delete' onClick='deleteElem(this)'><i class='icon-remove'></i></a></span>
      </div>
    </script>

    <!-- Category Item template -->
    <script id='category-item-group-tmpl' type='text/x-jquery-tmpl'>
      <div id='prod-group-${id}' class='item'>
        <span class='prod-group' rel='popover' title='${name}' data-content='${ extractNames(items).join(", ") }'><i class='icon-th-large'></i> ${name}</span>
        <span class='actions hide'><a href='#' class='close' title='delete'><i class='icon-remove' onClick='deleteElem(this)'></i></a></span>
      </div>
    </script>


    <script>

      function extractNames(items) {
        return _.pluck(items, 'name');
      }

      var categoryTree = [
        {id: 1, name: 'Music Players', items: [{id:23, name: 'item 1'}, {id: 24, name: 'item 2'}]},
        {id: 2, name: 'Tech Gear', items: [{id:23, name: 'item 5'}, {id: 24, name: 'item 8'}], categories: [{name: 'Music', items: [{id:23, name: 'item 1'}, {id: 24, name: 'item 2'}]}]},
        {id: 3, name: 'Trip', items: [{id:23, name: 'item 9'}], groups: [{id: 1, name: 'iPod Group', items: [{id:23, name: 'iPod 8 GB Red'}, {id: 24, name: 'iPod 8 GB Blue'}] }]},
      ];

      var products = [
        {id: 2, name: 'iPod Nano 8 BG Red', categories: ['Music Players', 'Trip']},
        {id: 1, name: 'iPod Nano 8 BG White', categories: ['Music Players', 'Tech Gear', 'Trip']},
        {id: 3, name: 'iPod Nano 8 BG Blue', categories: ['Music Players']}
      ];

      $('#category-tmpl').tmpl(categoryTree).appendTo('#root-category-items');
      $('#prods-tmpl').tmpl(products).appendTo('#prods-data');
    </script>

  </body>
</html>
